<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/login.css">
    <title>Moloka'I</title>
</head>
<body>

    <header>
        <picture><img src="/img/Logo.png" alt=""></picture>
    </header>
    <main>   
    <section >
            <h1> Ingresa tu cuenta:</h1>
            <form action="/access" method="post" >
                <label for="email"> Usuario</label>
                <input type="email" name="email" required>
                <% if (locals.errores && locals.errores.email) { %>
                    <p >
                        <%= locals.errores.email.msg %> 
                    </p>
                <% } %>
                <label for="clave"> Contraseña </label>
                <input type="password" name="clave" required>
                <% if (locals.errores && locals.errores.clave) { %>
                    <p >
                        <%= locals.errores.clave.msg %> 
                    </p>
                <% } %>
                <label for="check"> Recuerda mi contraseña</label>
                <input type="checkbox" id="check" name="check">
                <div>
                    <button type="submit"> Ingresar </button>
                    <button type="reset"> Borrar </button> 
                </div>

            </form>
            <p>Si todavía no tenés una cuenta, hace click <a href="/register">aquí</a></p>
        </section>
    </main>
    
    
</body>
</html>