<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/<%= style %>.css">
    <title>Usuario</title>
    <h2>Login</h2>
        <form action="/users/access" method="post">
            <fieldset class="field">
                <label for="email">
                    <i class="fa-solid fa-user"></i>
                </label>
                <input type="text" name="email" id="email"
                value="<%= (locals.errores && !locals.errores.email && locals.data && locals.data.email ? locals.data.email :null ) %> ">
                >
            </fieldset>
            <fieldset class="field">
                <label for="password">
                    <i class="fa-solid fa-key"></i>
                </label>
                <input type="password" name="password" id="password">
            </fieldset>
            <fieldset class=" field btns">
                <button type="submit">
                    <i class="fa-solid fa-plane"></i>
                </button>
                <button type="reset">
                    <i class="fa-solid fa-sync"></i>
                </button>
            </fieldset>
        </form>
</head>
<body>
    
</body>
</html>