<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/crear.css">
    <title>Crea tu Producto</title>
</head>
<body>
    
    
    <form action="/crear" method="post">

        <input type="hidden" name="id" >
      
        <fieldset>
          <legend>Nombre del trago</legend>
          <input type="text" name="nombre" id="nombre">
  
      </fieldset>
  
      <fieldset>
          <legend>Precio del trago</legend>
          <input type="text" name="precio" id="precio" >
  
      </fieldset>

      <fieldset>
        <legend>Detalle del producto</legend>
        <input type="text" name="ingredientes" id="ingredientes">

    </fieldset>
    <fieldset>
        <legend>Categoria</legend>
        <input type="text" name="Categoria" id="Categoria">

    </fieldset>
      
        <button type="submit">Guardar</button>
  
    </form>
    
  
    <a href="/MenuEdicionMolokai/"> Volver</a>
</body>
</html>